@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";
@import "../../assets/styles/media";

.menuAmount {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 8px;
}

.buttonAmount {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: $color-white;
  cursor: pointer;
  border: 1px solid $color-black;
}

.buttonAmount::after {
  content: "";
  position: absolute;
  width: 8px;
  top: 10px;
  left: 7px;
  border: 1px solid $color-black;
}

.increment::before {
  content: "";
  position: absolute;
  width: 8px;
  top: 10px;
  left: 7px;
  transform: rotate(90deg);
  border: 1px solid $color-black;
}

.textAmount {
  @include font-modal-text-amount;
}

// styles for full screen

.menuAmountFullScreen {
  padding-right: 24px;
}

.buttonAmountFullScreen {
  width: 45px;
  height: 45px;
}

.buttonAmountFullScreen::after {
  width: 15px;
  top: 20px;
  left: 14px;
}

.incrementFullScreen::before {
  width: 15px;
  top: 20px;
  left: 14px;
}
