@import "../../assets/styles/fonts";

.productList {
  width: 100%;
  margin-top: 80px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top: 103px;
  margin-bottom: 88px;
}

.title {
  margin: 0;
  padding-top: 80px;
  text-align: start;
  text-transform: uppercase;
  @include font-heading-h2;
}

.modalCartOfThing {
  margin: 0 auto;
  max-width: 1440px;
  padding: 80px 219px 178px 100px;
}
