@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";
@import "../../assets/styles/media";

.menuAboutThing {
  width: 136px;
  height: 190px;
  outline: 1px solid tomato;
  // @include media-big-modal {
  //   padding-right: 695px;
  // }
}

.titleThing {
  text-align: start;
  @include font-modal-heading-h3;
}

.titleThingName {
  margin-bottom: 4px;
  text-align: start;
  @include font-modal-heading-h3;
}

.textPriceThing {
  text-align: start;
  margin-bottom: 8px;
  @include font-modal-text-h3;
}

.textSize {
  margin-bottom: 8px;
  @include font-modal-text-size;
}

.menuSize {
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
  @include font-modal-items-size;
}

.itemSize {
  width: 24px;
  height: 24px;
  outline: 1px solid $color-black;
  margin-right: 8px;
  text-align: center;
  padding-top: 2px;
  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}

.textColor {
  margin-bottom: 8px;
  @include font-modal-text-color;
}

.menuColor {
  display: flex;
}

.itemColor {
  background-color: yellow;
  border: 2px solid $color-white;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  &:hover {
    outline: 1px solid $color-primary;
  }
}

// styles for fullscreen

.titleThingFullScreen {
  text-align: start;
  margin-bottom: 16px;
  @include font-modal-heading-h3-full-screen;
}

.titleThingNameFullScreen {
  margin-bottom: 20px;
  text-align: start;
  @include font-modal-heading-h3-full-screen;
  font-weight: 400;
}

.textPriceThingFullScreen {
  text-align: start;
  margin-bottom: 20px;
  @include font-modal-text-h3-full-screen;
}

.textSizeFullScreen {
  margin-bottom: 7px;
  @include font-modal-text-size-full-screen;
}

.menuSizeFullScreen {
  display: flex;
  justify-content: start;
  margin-bottom: 16px;
  @include font-modal-items-size-full-screen;
}

.itemSizeFullScreen {
  width: 63px;
  height: 45px;
  outline: 1px solid $color-black;
  text-align: center;
  padding-top: 12px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}

.textColorFullScreen {
  margin-bottom: 8px;
  @include font-modal-text-color-full-screen;
}

.itemColorFullScreen {
  background-color: yellow;
  border: 2px solid $color-white;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  &:hover {
    outline: 1px solid $color-primary;
  }
}

.menuAboutThingFullScreen {
  padding-right: 695px;
}
