@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";
@import "../../assets/styles/media";

// .menuAvatar {
//   width: 121px;
//   height: 190px;
// }

.thingTemplateForSmallModall {
  width: 121px;
  height: 190px;
}

// styles for fullscreen
.thingTemplateForSmallModallFullScreen {
  width: 200px;
  height: 288px;
}
