@import "../../assets/styles/fonts";

.modalTitle {
  @include font-modal-title;
}

.modalAmountImems {
  @include font-modal-amount-items;
}

.title {
  display: flex;
}

.titleBigModal {
  text-transform: uppercase;
  padding-bottom: 55px;
  @include font-big-modal-title;
}
