@import "../../assets/styles/fonts";
@import "../../assets/styles/colors";
@import "../../assets/styles/media";

.bag {
  display: flex;
  align-items: center;
}

// .textMoney {
//   position: relative;
//   width: 29px;
//   height: 29px;
//   @include font-navigation-text-money;
// }

.buttonOnBag {
  background-color: $color-white;
  border: transparent;
  cursor: pointer;
  padding: 0px;
}

.emptyCartImg {
  margin-left: 22px;
  width: 20px;
  height: 20px;
}

.modalTitle {
  @include font-modal-title;
}

.modalAmountImems {
  @include font-modal-amount-items;
}

.title {
  display: flex;
  // width: 118px;
  // height: 26px;
}

.blockButtons {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.showBigModal {
  width: 1440px;
  height: 1435px;
  @include media-big-modal {
    padding: 80px 100px 274px 100px;
  }
}

.titleBigModal {
  text-transform: uppercase;
  // padding-top: 80px;
  padding-bottom: 80px;
  @include font-big-modal-title;
}
