@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";
@import "../../assets/styles/media";

.menu {
  padding-top: 32px;
  padding-bottom: 32px;
}

.menuFullScreen {
  padding-top: 0px;
  padding-bottom: 24px;
}
