@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";

.menu {
  display: flex;
  padding-left: 0;
  @include font-navigation;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
