@import '../../assets/styles/colors';
@import '../../assets/styles/fonts';

.item {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.itemFullScreen {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  border-top: 1px solid $color-grey;
  padding-top: 24px;
}
