@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";
@import "../../assets/styles/media";

.item {
  display: flex;
  justify-content: space-between;
  // outline: 1px solid tomato;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  @include media-big-modal {
  }
}

.itemFullScreen {
  display: flex;
  justify-content: start;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  border-top: 1px solid $color-grey;
  padding-top: 24px;
}
