@import '../../assets/styles/fonts';
@import '../../assets/styles/colors';

.item {
  position: relative;
  padding: 16px;
  width: 386px;
  margin-bottom: 104px;
  &:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
    .icon {
      opacity: 1;
    }
  }
}

.icon {
  position: absolute;
  opacity: 0;
  background-image: url(../../assets/img/circle-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 52px;
  height: 52px;
  right: 30px;
  bottom: 69px;
  &:hover {
    cursor: pointer;
  }
}

.itemNotActive {
  color: $color-grey-transparent;
}

.blockOutOfStock {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  top: 0;
  background-color: $color-white;
  opacity: 0.5;
}

// .icon {
//   position: absolute;
//   opacity: 0;
//   background-image: url(../../assets/img/circle-icon.svg);
//   background-position: center;
//   background-repeat: no-repeat;
//   width: 52px;
//   height: 52px;
//   right: 30px;
//   bottom: 69px;
//   &:hover {
//     cursor: pointer;
//   }
// }

.titleThing {
  margin-top: 24px;
  margin-bottom: 0px;
  text-align: start;
  color: initial;
  @include font-heading-h3;
}

.textPriceThing {
  color: initial;
  margin: 0;
  text-align: start;
  @include font-text-h3;
}

.textOutOfStock {
  position: absolute;
  color: $color-grey-transparent;
  top: 180px;
  left: 119px;
  @include textOutOfStock;
}

.linkRoute {
  text-decoration: none;
}
