$color-primary: #5ece7b;
$color-grey: #e5e5e5;
$color-black: #1d1f22;
$color-light-grey: #eeeeee;
$color-light-grey-transparent: rgba(57, 55, 72, 0.22);
$color-grey-transparent: #8d8f9a;
$color-white: #ffffff;
