@import "_sizes";
// @import "_colors.scss";

@mixin font-navigation {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  //   color: $color-black;
}

@mixin font-navigation-text-money {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.61;
}

@mixin font-heading-h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.6;
}

@mixin font-heading-h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.61;
}

@mixin font-text-h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.61;
}

@mixin font-modal-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-amount-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

@mixin font-modal-heading-h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-text-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-text-size {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@mixin font-modal-items-size {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  font-family: "Source Sans Pro";
}

@mixin font-modal-text-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@mixin font-modal-text-amount {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-text-block-total {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  font-family: "Roboto";
  font-style: normal;
}

@mixin font-modal-price-block-total {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-text-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
}

@mixin font-big-modal-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}

@mixin font-big-modal-heading-h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 0.9;
}

// @mixin font-heading-h2 {
//   font-weight: 400;
//   font-size: 42px;
//   line-height: 1.6;
// }

// @mixin font-heading-h3 {
//   font-weight: 300;
//   font-size: 18px;
//   line-height: 1.6;
// }

// @mixin font-heading-my-bag-h2 {
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.63;
// }

// @mixin font-heading-my-bag-h3 {
//   font-weight: 300;
//   font-size: 16px;
//   line-height: 1.63;
// }
