@import '_sizes';

@mixin font-navigation {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
}

@mixin font-navigation-text-money {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.61;
}

@mixin font-heading-h2 {
  font-weight: 400;
  font-size: 42px;
  line-height: 1.6;
}

@mixin font-heading-h3 {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.61;
}

@mixin font-text-h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.61;
}

@mixin font-modal-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-amount-items {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

@mixin font-modal-heading-h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-text-h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-text-size {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@mixin font-modal-items-size {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  font-family: 'Source Sans Pro';
}

@mixin font-modal-text-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@mixin font-modal-text-amount {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-text-amount-full-screen {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;
}

@mixin font-modal-text-block-total {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
}

@mixin font-modal-price-block-total {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.63;
}

@mixin font-modal-text-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
}

@mixin font-modal-text-button-product {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
}

@mixin font-big-modal-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}

@mixin font-big-modal-heading-h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 0.9;
}

@mixin font-big-modal-block-total-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1, 17;
}

@mixin font-big-modal-block-total-numbers {
  font-weight: 700;
  font-size: 24px;
  line-height: 1, 17;
}

@mixin font-big-modal-text-block-total {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
}

@mixin font-big-modal-price-block-total {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

@mixin font-modal-heading-h3-full-screen {
  font-weight: 600;
  font-size: 30px;
  line-height: 0.9;
}

@mixin font-modal-text-h3-full-screen {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
}

@mixin font-modal-text-size-full-screen {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}

@mixin font-modal-items-size-full-screen {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  font-family: 'Source Sans Pro';
}

@mixin font-modal-text-color-full-screen {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}

@mixin badge {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@mixin textOutOfStock {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.58;
}
